 <meta charset="utf-8">
   <meta name="generator" content="GitLab Pages">
   <title>Plain HTML site using GitLab Pages</title>
   <link rel="stylesheet" href="style.css">
 </head>
 <body>
   <div class="navbar">
     <a href="https://gitlab.com/fasco-group/lession-four/-/blob/master/.gitlab-ci.yml">Schema YML</a>
     <a href="https://unsplash.com/photos/uOYak90r4L0">Picture House</a>
   </div>

   <h1>LESSON 4</h1>
   <h1>We built a site in docker container and deploy it's in k8s! Wow! </h1>
   <br>

   <img src="https://miro.medium.com/max/646/1*dbK6DLeZiJAzj_87-z0fPA.png">
   <img src="https://www.mirf.ru/wp-content/uploads/2017/09/zagruzheno.png" width="50%" height="50%">
  
 </body>
</html>

